.layout-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 100vh;
    justify-content: center; 
    align-items: center;
    
}

.header-info {
    border-bottom: 2px solid #eee;
    padding-bottom: 15px;
     display: flex;
    flex-direction: column;
      justify-content: center; 
    align-items: center;
}

.header-info h1 {
    font-size: 2rem;
    color: #333;
    margin: 0;
    text-align: center;
}

.header-info p {
    color: #666;
    max-width: 600px;
    line-height: 1.5;
    margin-top: 10px;
    text-align: center;
}

.services {
    display: flex;
    justify-content: flex-start;
}

.services button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease;
    box-shadow: 0 4px 6px rgba(52, 152, 219, 0.2);
}

.services button:hover {
    background-color: #2980b9;
}

.map-area {
    width:100%;
    height: 600px; 
    border-radius: 15px;
    overflow: hidden; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    margin: auto;

   
}

/* استجابة للهواتف */
@media (max-width: 768px) {
    .layout-container {
        padding: 10px;
    }
    
    .map-area {
        height: 500px;
    }
}