.map-area {
  display: flex;
  flex-direction: row-reverse; 
  width: 100%;
  height: 100%;
  background: #ffffff;
  border-radius: 30px; 
  overflow: hidden;
  position: relative;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
}

.servicesList {
  width: 200px; 
  height: 80%;
  max-height: 100%;
  overflow-y: auto;
  padding: 5px;
  padding-right: 20px;
  background: #f1f5f9; 
  border-left: 1px solid #e2e8f0;
  display: flex;
  flex-direction: column;
  gap: 1px; 
  
}

#map-container {
  flex: 2; 
  height: 100%;
  background: #f8fafc;
}

.reset-button {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(5px);
  color: #0f172a;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 10px 20px;
  border-radius: 14px;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.reset-button:hover {
  background: #0f172a;
  color: #fff;
  transform: scale(1.05);
}

.sidebar {
  position: absolute;
  top: 350px;
  left: 20px;
  z-index: 10;
  background: rgba(0, 0, 0, 0.95);
  color: #e9ebef;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 8px 20px rgba(240, 238, 238, 0.1);
  padding:3px;
}

.mini-popup {
  padding: 5px;
  text-align: center;
  width: 130px;
}

.popup-title {
  font-size: 15px;
  font-weight: 850;
  color: #1e293b;
  margin-bottom: 5px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #031737;
  object-fit: cover;
}

@media (max-width: 768px) {
  .map-area {
    flex-direction: column;
  }

  .servicesList {
    width: 100%;
    height: 220px; 
    border-left: none;
    border-top: 1px solid #eee;
  }
}

.languagesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px 0;
  background: transparent;
}

.langBtn {
  padding: 8px 18px;
  border-radius: 12px;
  border: 1px solid rgba(15, 23, 42, 0.1); 
  background: #ffffff; 
  color: #1e293b; 
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); 
  display: flex;
  align-items: center;
  justify-content: center;
}

.langBtn:hover {
  transform: translateY(-3px); 
  background: #f1f5f9;
  color: #2563eb; 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  border-color: #cbd5e1;
}

.langBtn:active {
  transform: scale(0.95);
}

@media (max-width: 768px) {
  .languagesContainer {
    gap: 6px;
    flex-wrap: wrap; 
  }
  
  .langBtn {
    padding: 6px 12px;
    font-size: 11px;
  }
}
