.map-area {
    display: flex; 
    flex-direction: row-reverse; 
    width: 100%;            
    max-width: 1500px;     
    margin: auto;     
    
    height: 600px; 
    position:relative;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid #ddd;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); 
    justify-content: center; 
    align-items: center;
}

.servicesList {
    width: 25%; 
    height: 100%;
    overflow-y: auto; 
    padding: 15px;
    background-color: #f9f9f9;
    border-left: 1px solid #eee;
    z-index: 2;
}

#map-container {
    flex: 1; 
    height: 100%;
    width: 100%;
    position:relative;
}

.sidebar {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 12px;
    z-index: 1; 
    pointer-events: none;
}

.reset-button {
    position: absolute;
    top: 50px;
    left: 100px;
    transform: translateX(-50%);
    z-index: 1;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    transition: 0.3s ease;
}

.reset-button:hover {
    background-color: #0056b3;
}

.mini-popup {
    text-align: center;
    max-width: 150px;
}

.mini-popup h2 {
    font-size: 14px;
    margin-bottom: 5px;
}

.mini-popup .avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.servicesList::-webkit-scrollbar {
    width: 6px;
}
.servicesList::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .map-area {
        flex-direction: column;
        height: 800px;
    }
    .servicesList {
        width: 100%;
        height: 300px;
    }
}