@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,900;1,900&family=Plus+Jakarta+Sans:wght@300;500;800&display=swap');
#root {
  max-width: 1280px;
  margin: 5px;
}

.read-the-docs {
  color: #888;
}
ul{
  display: flex;
  flex-direction: row;
  list-style-type: none
}

li{
  margin-right: 20px;
}
